@font-face {
  font-family: 'Nothing+You+Could+Do';
  src: url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
}

* {
  color:white;
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  font-family: "Nothing+You+Could+Do", "Comic Sans", cursive;
  box-sizing: border-box;
}

body {
  background-color: black;
}

canvas {
  width: 600px;
  height: 600px;
  border: 1px solid white;
}

a:link, a:visited {
  background-color: #ff88aa;
  color: white;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #ffaacc;
}

button {
  background-color: #ff88aa;
  color: white;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}