main {
    flex: 1 calc(100vh - 110px);
    display: block;
    align-items: left;
    justify-content: none;
}

#my-name {
    color: black;
}

#new-msg {
    color: black;
}

#chat-text {
    padding: 1em 0;
}
div .friend {
    color: rgb(191, 139, 245);
margin-left: 0.5em;
}
div .me {
    color: rgb(147, 197, 255);
}
div .system {
    color: rgb(225, 10, 125);
}
.name {
    padding: 1em 0;
}